@import "tailwindcss";
@plugin "daisyui";



@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    --color-primary: ;
    --color-secondary: teal;
  }

  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *))